Q1. Create one variable containing following type of data:
(i)	string
(ii)	list
(iii)	float
(iv)	tuple

In [7]:
s="Suman"
l=[2,3,4,"Suman",26.02,True]
f=23.34
t=("suman","mondal","assignment",True)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [9]:
var1 = ''

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' , 'ML' , 'Python' ]

var4 = 1

In [11]:
type(var1)

str

In [12]:
type(var2)

str

In [13]:
type(var3)

list

In [14]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [15]:
# (i)

In [16]:
# "/" used for division
a=10
b=5
c=a/b

In [17]:
c

2.0

In [ ]:
# (ii)

In [ ]:
# "%" used for finding the modulous(remainder)

In [21]:
a=10
b=4
d=a%b

In [22]:
d

2

In [ ]:
# (iii)

In [ ]:
# "//" used for division floor operator , rounds the result down to the nearest whole number

In [25]:
a=11
b=3
e=a//b

In [26]:
e

3

In [ ]:
# (iv)

In [ ]:
# "**" used for finding the modulous(remainder)

In [27]:
a=10
b=4
c=a**b

In [28]:
c

10000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
l4=[2,3,7,"Data","Science","Python","Week 1",50.26,92.26,True]

In [8]:
l4

[2, 3, 7, 'Data', 'Science', 'Python', 'Week 1', 50.26, 92.26, True]

In [9]:
for i in l4:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
7
<class 'int'>
Data
<class 'str'>
Science
<class 'str'>
Python
<class 'str'>
Week 1
<class 'str'>
50.26
<class 'float'>
92.26
<class 'float'>
True
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
print("Insert the Number:")
A=int(input())
print("Insert the Number you want to divide it with:")
B=int(input())
x=0
c=0
while a%b==0:
    c=a/b
    a=c
    x=x+1
print("No of times" ,A ,"is divisible by", B ,"is " , x)

Insert the Number:

 24

Insert the Number you want to divide it with:

 2

No of times 24 is divisible by 2 is  0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [48]:
l5=list(range(1,26))
print(l5)
for i in l5:
    i=i-1
    if l5[i]%3==0:
        print (l5[i] ,"is divisible by 3")
    else:
        print (l5[i], " is not divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1  is not divisible by 3
2  is not divisible by 3
3 is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6 is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9 is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12 is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15 is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18 is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21 is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24 is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

 Objects that can be changed after creation are known as mutable data types . Although changing is easy and efficient ,they are slower to access .Example lists ,Sets . 
 While those which cannot be changed after creation are known as immutable objects .They are easy to access. Examples tuples.

In [64]:
#Mutable Data Type :
l1 = [2,3,"suman",23.5,True]

In [65]:
#Immutable DataType
t1 = (92,3,"Suman",23.5,True)